@font-face {
    font-family: 'Orbitron-Bold';
    src: url(../fonts/Orbitron-Bold.ttf);
}


.clsopenbox-header{
    background-image: url("../images/background/2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.clsopenbox-body{
    background-image: url("../images/background/3.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -62px;
}

.closopenbox-card{
    background: #3362CC4D;
}

.clsopenbox-card-image{
    height: 150px;
}

.clsopenbox-primary{
    font-family: 'Orbitron-Bold';
    background: #40b4b4;
    border: 1px solid #40b4b4;
}

.clsopenbox-primary:hover{
    background: #018c8c;
    border: 1px solid #018c8c;
}

.clsopenbox-primary-2{
    background: #00ffe4;
    border: 1px solid #00ffe4;
}

.clsopenbox-warning{
    font-family: 'Orbitron-Bold';
    background: #f86b24;
    border: 1px solid #f86b24;
}

.clsopenbox-warning:hover{
    background: #f55201;
    border: 1px solid #f55201;
}

.splide__pagination{
    bottom: -20px;
}

.clsopenbox-text-white{
    font-family: 'Orbitron-Bold';
    font-size: 18px;
    color: #ffffff;
}

.clsopenbox-text-primary{
    font-family: Arial;
    color: #00ffe4;
}
